<div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Laboratory System</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Lab Requests <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href=test>New Lab Requests</a></li>

                    </ul>
                </li>

                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Chemical Inventory Management<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="pharmacy">Chemical Inventory</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Lab Test Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="labtestview">View Lab Tests</a></li>
                        <li><a href="labtests">Lab Tests</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sample Center Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="samplecentertypes">Sample Center Types</a></li>
                        <li><a href="samplecenter">Sample Centers</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sample Center Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="labdepartments">Department Management</a></li>
                        <li><a href="labmgmt">Laboratory Management</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Doctor <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="newdocRequest">New Request</a></li>
                        <!--<li><a href="doctorrequest">View Request</a></li>-->
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Patient <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="patientmanagement">Patient Management</a></li>
                        <li><a href="newrequests">Patient Details</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
<div class="quote_div">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Departments Available</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="department in departments">
            <td>{{department.departmentName}}</td>
            <td ng-model="department._id" ng-click="deleteDepartment(department)"><button class="btn btn-danger">DELETE</button></td>
        </tr>
        </tbody>
    </table>
    <h3>Add Department</h3>
    <table>
        <tr>
            <td>Sample Center Type: </td>
            <td><input ng-model="department.departmentName"></td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" ng-click="addDepartment(department)">Add New Department</button> </td>
        </tr>
    </table>

</div>
</div>