<div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Laboratory System</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Lab Test Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="labtestview">View Lab Tests</a></li>
                        <li><a href="labtests">Lab Tests</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sample Center Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="samplecentertypes">Sample Center Types</a></li>
                        <li><a href="samplecenter">Sample Centers</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sample Center Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="labdepartments">Department Management</a></li>
                        <li><a href="labmgmt">Laboratory Management</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
<div class="quote_div">
    <div>
        <table class="table table-striped">
            <tr>
                <th>Lab Name</th>
                <th>Laboratory Type</th>
                <th>Department Name</th>
                <th>Lab In Charge</th>
                <th>Location</th>
                <th>Email</th>
                <th>Contact Number</th>
            </tr>
            <tr  dir-paginate="lab in labs|itemsPerPage:5">
                <td>{{lab.labName}}</td>
                <td>{{lab.laboratoryTypeName}}</td>
                <td>{{lab.departmentName}}</td>
                <td>{{lab.labInCharge}}</td>
                <td>{{lab.location}}</td>
                <td>{{lab.email}}</td>
                <td>{{lab.contactNumber}}</td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <tr>
                <td>Lab Name:</td>
                <td><input type="text" ng-model="newLab.labName"> </td>
            </tr>
            <tr>
                <td>Lab Type:</td>
                <td><select ng-model="selectedLabType" ng-options="y.laboratoryTypeName for y in labDepartmentTypes">
                </select></td>
            </tr>
            <tr>
                <td>Department:</td>
                <td><select ng-model="selectedDep" ng-options="x.departmentName for x in labDepartments">
                </select></td>

            </tr>
            <tr>
                <td>Lab In Charge: </td>
                <td><input type="text" ng-model="newLab.labInCharge"></td>
            </tr>
            <tr>
                <td>Location:</td>
                <td><input type="text" ng-model="newLab.location"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" ng-model="newLab.email"></td>
            </tr>
            <tr>
                <td>Contact Number:</td>
                <td><input type="text" ng-model="newLab.contactNumber"></td>
            </tr>
            <tr>
                <td><button class="btn btn-primary" ng-click="addLab(newLab,selectedLabType,selectedDep)">Add</button></td>
            </tr>
        </table>
    </div>
</div>
</div>