<div>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Laboratory System</a>

                 <ul class="nav navbar-nav">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Doctor <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="newdocRequest">New Request</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Patient <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="patientmanagement">Patient Management</a></li>
                        <li><a href="newrequests">Patient Details</a></li>
                    </ul>
                </li>
                     <li class="dropdown">
                             <button class="btn btn-success" ng-click="logout()">Logout</button>
                     </li>

            </ul>
        </div>
    </nav>

    <div  class="quote_div">

    <h3>New Prescription</h3>
    <table>
        <tr>
            <td>Action: </td>
            <td><input type="text" ng-model="doctorRequest.action" placeholder="Sample Details"></td>
        </tr>
        <tr>
            <td>Doctor Name: </td>
            <td><input type="text" ng-model="doctorRequest.reqPerson"></td>
        </tr>
        <tr>
            <td>Patient Name: </td>
            <td><input type="text" ng-model="doctorRequest.patientName"> </td>
        </tr>
        <tr>
            <td>Requested Date: </td>
            <td><input type="text" ng-model="doctorRequest.reqDate"><label>[yy//mm/dd]</label></td>
        </tr>
        <tr>
            <td>Lab Test: </td>
            <td>
                <select ng-model="selectedTest" ng-options="x.labTestName for x in labTests">
                </select>

            </td>
        </tr>
        <tr>
            <td>Due Date: </td>
            <td><input type="text" ng-model="doctorRequest.dueDate"><label>[yy//mm/dd]</label></td>
        </tr>
        <tr>
            <td>Priority: </td>
            <td><input type="text" ng-model="doctorRequest.priority"><label>[High/ Medium/ Low]</label></td>
        </tr>
        <tr>
        <tr>
            <td>Status: </td>
            <td><input type="text" ng-model="doctorRequest.status" placeholder="New"></td>
        </tr>
        <tr>
            <td>Request ID: </td>
            <td><input type="text" ng-model="doctorRequest.requestID"></td>
        </tr>
        <tr>
            <td>Comment: </td>
            <td><input type="text" ng-model="doctorRequest.comment"></td>
        </tr>
            <td>
                <button class="btn btn-primary" ng-click="adddoctorreq(doctorRequest,selectedTest)">Add Prescription</button>
            </td>
        <td>
            <button class="btn btn-primary" ng-click="clearall(doctorRequest)">Clear</button>
        </td>
        </tr>
    </table>
    </div>
</div>