<div>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Laboratory System</a>
            </div>
            <ul class="nav navbar-nav">


                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Doctor <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="newdocRequest">New Request</a></li>
                        <li><a href="doctorresult">View Results</a> </li>
                        <!--<li><a href="doctorrequest">View Request</a></li>-->
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Patient <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="patientmanagement">Patient Management</a></li>
                        <li><a href="newrequests">Patient Details</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <button class="btn btn-success" ng-click="logout()">Logout</button>
                </li>

            </ul>
        </div>
    </nav>

    <div  class="quote_div">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Patient Name</th>
            <th>Gender</th>
            <th>Contact Number</th>
            <th>Date of Birth</th>
        </tr>
        </thead>
        <tr ng-repeat="patient1 in patients">
            <td>{{patient1.patientName}}</td>
            <td>{{patient1.gender}}</td>
            <td>{{patient1.contactNumber}}</td>
            <td>{{patient1.dob|date:"yyyy-MM-dd"}}</td>
            <td><button class="btn btn-danger" ng-model="patient._id" ng-click="deletepatient(patient1)">Delete</button></td>
            <td><button class="btn btn-primary" ng-click="editpatient(patient1)">Edit</button></td>

        </tr>
    </table>
    <h3>Update Patient Details</h3>
    <table>
        <tr>
            <td>Patient Name: </td>
            <td><input type="text" ng-model="patient.patientName"></td>
        </tr>
        <tr>
            <td>Gender : </td>
            <td><input type="text" ng-model="patient.gender"></td>
        </tr>
        <tr>
            <td>Contact Number: </td>
            <td><input type="text" ng-model="patient.contactNumber"></td>
        </tr>
        <tr>
            <td>Date of Birth : </td>
            <td><input type="text" ng-model="patient.dob"></td>
        </tr>
        <!--<tr>-->
            <!--<td>Lab Test: </td>-->
            <!--<td>-->

                <!--<select>-->
                    <!--<option ng-repeat="labTest in labTests">{{labTest.labTestName}}</option>-->
                <!--</select>-->

            <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>Priority: </td>-->
            <!--<td><input type="Text"></td>-->

        <!--</tr>-->
        <!--<tr>-->
            <!--<td>Due Date: </td>-->
            <!--<td><input type="text"></td>-->
        <!--</tr>-->
        <tr>
            <td ><button class="btn btn-primary" ng-model="request._id" ng-click="updatepatient(patient)">Update</button></td>
        </tr>
    </table>
    </div>
</div>