<div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Laboratory System</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Lab Requests <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href=test>New Lab Requests</a></li>

                    </ul>
                </li>

                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Chemical Inventory Management<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="pharmacy">Chemical Inventory</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Lab Test Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="labtestview">View Lab Tests</a></li>
                        <li><a href="labtests">Lab Tests</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sample Center Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="samplecentertypes">Sample Center Types</a></li>
                        <li><a href="samplecenter">Sample Centers</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Laboratory Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="labdepartments">Department Management</a></li>
                        <li><a href="labmgmt">Laboratory Management</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <button class="btn btn-success" ng-click="logout()">Logout</button>
                </li>

            </ul>
        </div>
    </nav>
<div class="quote_div">

    <center>
        <center><h1>CHEMICAL INVENTORY</h1></center>
        <table>

        <tr>
            <td>Chemical ID </td>
            <td><input ng-model="user.drugID"></td>
        </tr>
        <tr>
            <td>Chemical Name </td>
            <td><input ng-model="user.drugName"></td>
        </tr>
        <tr>
            <td>Quantity </td>
            <td><input ng-model="user.quantity">(units)</td>
        </tr>
        <tr>
            <td>Manufactured Date </td>
            <td><input ng-model="user.mDate">(YYYY-MM-DD)</td>
        </tr>
        <tr>
            <td>Expiration Date </td>
            <td><input ng-model="user.eDate">(YYYY-MM-DD)</td>
        </tr>
        <tr>
            <td>Supplier ID</td>
            <td><input ng-model="user.supplierID"></td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td></td>
            <td><button class="btn btn-primary" ng-click="addUser(user)">INSERT</button>

            <button class="btn btn-primary" ng-click="clearUser(user)">CLEAR</button> </td>
        </tr>

        <tr></tr>
        <tr>
            <td></td>
            <td>Chemical Code<input ng-model="user.drugID"></td>
            <td><button class="btn btn-primary" ng-mmodel="user.drugID" ng-click="getUser(user)">SEARCH</button></td>
        </tr>
    </table>
    </center>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Index</th>
            <th>Chemical ID</th>
            <th>Chemical Name</th>
            <th>Quantity</th>
            <th>Manufactured Date</th>
            <th>Expiration Date</th>
            <th>Supplier ID</th>
            <th>DELETE</th>
            <th>EDIT</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{$index+1}}</td>
            <td>{{user.drugID}}</td>
            <td>{{user.drugName}}</td>
            <td>{{user.quantity}}</td>
            <td>{{user.mDate|date:"yyyy-MM-dd"}}</td>
            <td>{{user.eDate|date:"yyyy-MM-dd"}}</td>
            <td>{{user.supplierID}}</td>
            <td><button ng-mmodel="user._id" ng-click="deleteUser(user)" class="btn btn-danger">DELETE</button></td>

            <td><button class="btn btn-primary" ng-click="editUser(user)">EDIT</button> </td>
        </tr>
        </tbody>
    </table>

</div>
</div>


