<div>

    <center>
        <center><h1>PHARMACY</h1></center>
    <table>

        <tr>
            <td>Drug ID </td>
            <td><input ng-model="user.drugID"></td>
        </tr>
        <tr>
            <td>Drug Name </td>
            <td><input ng-model="user.drugName"></td>
        </tr>
        <tr>
            <td>Quantity </td>
            <td><input ng-model="user.quantity"></td>
        </tr>
        <tr>
            <td>Manufactured Date </td>
            <td><input ng-model="user.mDate"></td>
        </tr>
        <tr>
            <td>Expiration Date </td>
            <td><input ng-model="user.eDate"></td>
        </tr>
        <tr>
            <td>Supplier ID</td>
            <td><input ng-model="user.supplierID"></td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td></td>
            <td><button ng-click="addUser(user)">INSERT</button>

            <button ng-click="clearUser(user)">CLEAR</button> </td>
        </tr>
        <!--<td><button ng-click="eUser(user)">EDIT</button> </td>-->
        <tr></tr>
        <tr>
            <td></td>
            <td>Drug Code<input ng-model="user.drugID"></td>
            <td><button ng-mmodel="user.drugID" ng-click="getUser(user)">SEARCH</button></td>

        </tr>
    </table>
    </center>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Index</th>
            <th>Drug ID</th>
            <th>Drug Name</th>
            <th>Quantity</th>
            <th>Manufactured Date</th>
            <th>Expiration Date</th>
            <th>Supplier ID</th>
            <th>DELETE</th>
            <th>EDIT</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{$index+1}}</td>
            <td>{{user.drugID}}</td>
            <td>{{user.drugName}}</td>
            <td>{{user.quantity}}</td>
            <td>{{user.mDate|date:"yyyy-MM-dd"}}</td>
            <td>{{user.eDate|date:"yyyy-MM-dd"}}</td>
            <td>{{user.supplierID}}</td>
            <td><button ng-mmodel="user._id" ng-click="deleteUser(user)" class="btn btn-danger">DELETE</button></td>

            <td><button ng-click="editUser(user)">EDIT</button> </td>
        </tr>
        </tbody>
    </table>

</div>


