<div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Laboratory System</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Lab Requests <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href=test>New Lab Requests</a></li>

                    </ul>
                </li>

                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Chemical Inventory Management<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="pharmacy">Chemical Inventory</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Lab Test Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="labtestview">View Lab Tests</a></li>
                        <li><a href="labtests">Lab Tests</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sample Center Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="samplecentertypes">Sample Center Types</a></li>
                        <li><a href="samplecenter">Sample Centers</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sample Center Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="labdepartments">Department Management</a></li>
                        <li><a href="labmgmt">Laboratory Management</a></li>
                    </ul>
                </li>



            </ul>
        </div>
    </nav>
<div class="quote_div">
    <table class="table table-striped">

        <tr>
            <td>Action</td>
            <td><input ng-model="request.action"></td>
        </tr>
        <tr>
            <td>Status</td>
            <td><input ng-model="request.status"></td>
        </tr>
     <!--   <td><button ng-click="edit(request)">EDIT</button> </td>
        <td><button ng-model="request._id" ng-click="updateAddResults(request)">SAVE</button> </td>

        <td><a href="test" ><button ng-click="back(request)">BACK</button></a> </td>-->


        <tr>
            <td><button class="btn btn-primary" ng-click="edit(request)">EDIT</button> </td>
            <td><button class="btn btn-primary" ng-model="request._id" ng-click="updateRequest(request)">UPDATE</button> </td>
            <td><a href="test" ><button class="btn btn-primary" ng-click="back(request)">BACK</button></a> </td>
        </tr>
    </table>



<table class="table table-striped">
    <tr><td>Specimen Details</td></tr>
    <tr>
        <td>Request ID</td>
        <td><input ng-model="detail.requestID"> </td>
    </tr>
    <tr>
        <td>Test Type</td>
        <td><input ng-model="detail.testname"> </td>
    </tr>
    <tr>
        <td>Collected Date</td>
        <td><input ng-model="detail.date"></td>
    </tr>
    <tr>
        <td>Location</td>
        <td><input ng-model="detail.location"> </td>
    </tr>

    <tr>
      <td><button class="btn btn-primary"  ng-click="addDetails(detail)">SAVE</button> </td>
    </tr>
</table>
</div>
</div>